<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Dashboard</span>
        <button class="btn btn-outline-light" type="button" (click)="logout()">Cerrar Sesión</button>
    </div>
</nav>
<div class="container mt-4">
    <h4 class="mb-3">Adquisiciones</h4>
    <form [formGroup]="formGroup" (ngSubmit)="guardar()" class="mb-4">
        <div class="row">
            <div class="col-md-6 mb-3">
                <input formControlName="unidad_administrativa" id="unidad_administrativa" class="form-control" placeholder="Unidad Administrativa" />
                <div *ngIf="formGroup.get('unidad_administrativa')?.touched && formGroup.get('unidad_administrativa')?.invalid" class="text-danger">
                    Unidad Administrativa es requerida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="tipo_bien" id="tipo_bien" class="form-control" placeholder="Tipo de Bien" />
                <div *ngIf="formGroup.get('tipo_bien')?.touched && formGroup.get('tipo_bien')?.invalid" class="text-danger">
                    Tipo de Bien es requerido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="presupuesto" id="presupuesto" type="number" class="form-control" placeholder="Presupuesto" />
                <div *ngIf="formGroup.get('presupuesto')?.touched && formGroup.get('presupuesto')?.invalid" class="text-danger">
                    Presupuesto es requerido y debe ser mayor a 0.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="cantidad" id="cantidad" type="number" class="form-control" placeholder="Cantidad" />
                <div *ngIf="formGroup.get('cantidad')?.touched && formGroup.get('cantidad')?.invalid" class="text-danger">
                    Cantidad es requerida y debe ser mayor a 0.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="valor_total" id="valor_total" type="number" class="form-control" placeholder="Valor Total" />
                <div *ngIf="formGroup.get('valor_total')?.touched && formGroup.get('valor_total')?.invalid" class="text-danger">
                    Valor Total es requerido y debe ser mayor a 0.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="fecha_adquisicion" id="fecha_adquisicion" type="date" class="form-control" placeholder="Fecha adquisición" />
                <div *ngIf="formGroup.get('fecha_adquisicion')?.touched && formGroup.get('fecha_adquisicion')?.invalid" class="text-danger">
                    Fecha de adquisición es requerida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="proveedor" id="proveedor" class="form-control" placeholder="Proveedor" />
                <div *ngIf="formGroup.get('proveedor')?.touched && formGroup.get('proveedor')?.invalid" class="text-danger">
                    Proveedor es requerido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <input formControlName="documentacion" id="documentacion" class="form-control" placeholder="Documentación" />
                <div *ngIf="formGroup.get('documentacion')?.touched && formGroup.get('documentacion')?.invalid" class="text-danger">
                    Documentación es requerida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <select formControlName="activo" id="activo" class="form-control">
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                </select>
                <div *ngIf="formGroup.get('activo')?.touched && formGroup.get('activo')?.invalid" class="text-danger">
                    Activo es requerido.
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit">
            <i class="bi bi-save"></i> Guardar
        </button>
    </form>
    <h4>Listas de adquisciones</h4>
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="updatePaginatedItems()" placeholder="Buscar..." />
        </div>
    </div>

    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th *ngFor="let label of labels">{{ label | titlecase }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedItems">
                <td>{{ item['id'] }}</td>
                <td>{{ item['unidad_administrativa'] }}</td>
                <td>{{ item['tipo_bien'] }}</td>
                <td class="text-end">{{ item['presupuesto'] | currency:'USD':'symbol':'1.0-0' }}</td>
                <td class="text-end">{{ item['cantidad'] | number:'1.0-0' }}</td>
                <td class="text-end">{{ item['valor_total'] | currency:'USD':'symbol':'1.0-0' }}</td>
                <td>{{ item['proveedor'] }}</td>
                <td>{{ item['documentacion'] }}</td>
                <td>{{ item['fecha_adquisicion'] | date:'dd/MM/yyyy' }}</td>
                <td>
                    <i *ngIf="item['activo']" class="bi bi-check-circle text-success"></i>
                    <i *ngIf="!item['activo']" class="bi bi-x-circle text-danger"></i>
                </td>
                <td>
                        <button class="btn btn-sm btn-primary me-2" (click)="editar(item)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="eliminar(item.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Pagination Navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="changePage(currentPage - 1)">Anterior</button>
            </li>
            <li class="page-item" *ngFor="let page of getTotalPages()" [class.active]="currentPage === page">
                <button class="page-link" (click)="changePage(page)">{{ page }}</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === getTotalPages().length">
                <button class="page-link" (click)="changePage(currentPage + 1)">Siguiente</button>
            </li>
        </ul>
    </nav>
</div>
